.signUpMain {
  width: 100%;
  height: 793px;
  background-image: url(https://www.evernote.com/static/static_css_resources/bb6ce0ce7affff91989d4aab2ba9fa53.png);
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

.signUpDisplayWrapper {
  width: 314px;
  max-width: 512px;
  height: 561px;
  margin: 0 auto 28px auto;
  padding: 62.12px 99px 110px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  text-align: left;
  background: #fff;
  margin-top: 33px;
}

.logoNameSpan {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.5em;
  color: #4ea92f;
}

.logoTitleSpan {
  margin-top: 3px;
  color: black;
  font-size: 35px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 18px;
}

.tagline {
  color: #333;
  font-size: 16px;
  font-family: "Roboto", "Oxygen", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 44px;
  width: 314px;
  height: 22px;
  text-align: center;
}

ol {
  list-style-type: none;
}

.oauthGoogle {
  background-color: white;
  color: black;
  border: solid 1px #d0d0d0;
  height: 40px;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oauthGoogle:hover {
  background-color: #f8f8f8;
}

.oauthGoogle > img {
  width: 18px;
  height: 18px;
}

.oauthGoogleText {
  color: #6a6a6a;
  padding-left: 6px;
}

.Row.horizontalRow {
  position: relative;
  margin-bottom: 27px;
  margin-top: 26px;
}

.horizontalLine {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.signUpUsernameInput {
  width: 280px;
  height: 19px;
  padding: 12px 16px;
  color: #333;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  line-height: 1.1875;
  font-size: 16.5px;
  margin-bottom: 7px;
}

.signUpUsernameInput:focus {
  outline: none;
  border-color: #dff2e6;
  box-shadow: 0 0 0 1px #dff2e6, 0 0 4px 0 #dff2e6;
}

.signUpEmailInput {
  width: 280px;
  height: 19px;
  padding: 12px 16px;
  color: #333;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  line-height: 1.1875;
  font-size: 16.5px;
  margin-bottom: 7px;
}

.signUpEmailInput:focus {
  outline: none;
  border-color: #dff2e6;
  box-shadow: 0 0 0 1px #dff2e6, 0 0 4px 0 #dff2e6;
}

.signUpPasswordInput {
  width: 280px;
  height: 19px;
  padding: 12px 16px;
  color: #333;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  line-height: 1.1875;
  font-size: 16.5px;
  margin-bottom: 14px;
}

.signUpPasswordInput:focus {
  outline: none;
  border-color: #dff2e6;
  box-shadow: 0 0 0 1px #dff2e6, 0 0 4px 0 #dff2e6;
}

.signUpSubmitButton {
  background-color: #00a82d;
  border-radius: 7px;
  font-family: "Roboto", "Oxygen", sans-serif;
  font-style: normal;
  font-weight: 300;
  width: 314px;
  height: 47px;
  border: 1px solid #00a82d;
  margin-bottom: 14px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.signUpSubmitButton:hover {
  background-color: #008f26;
  border-color: #008f26;
}

.tos {
  width: 280px;
  line-height: 15px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: "Roboto", "Oxygen", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #a6a6a6;
}

.tos > span {
  color: #00a82d;
  text-decoration: none;
}

.redirectToLoginFromSignUp {
  width: 314px;
  height: 46px;
  text-align: center;
  margin-top: 38px;
  font-family: "Roboto", "Oxygen", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.redirectToLoginFromSignUp > p {
  margin-bottom: 10px;
}

.linkToSignIn {
  color: #00a82d;
  font-size: 16px;
  font-family: Soleil, "Roboto", "Oxygen", sans-serif;
  font-weight: 400px;
  list-style-type: none;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  margin-bottom: 50px;
}

.linkToSignIn > a {
  color: #00a82d;
  text-decoration: none;
  width: 57.2px;
  height: 25px;
}
