/*  comment out .appDashboardDiv and .appSideNavDiv to fix display on Logged Out Pages  */
.appDashboardDiv {
  display: grid;
  grid-template-columns: 242px 1193px;
  background-color: #fff;
}

.appSideNavDiv {
  grid-column-start: 1;
  grid-column-end: 1;
}
