.notebooksMainWrapper {
  font-family: Roboto, sans-serif;
  font-size: 16px;

  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* justify-content: space-around; */
  min-height: 84.5vh;
  margin-left: 30px;
}

.allNotebooksDiv > ul {
  text-decoration: none;
  list-style: none;
}

.individualNotebookDiv {
  display: flex;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  margin: 15px 0;
}

form {
  font-family: "Philosopher", sans-serif;
  font-size: 14px;
  margin: 10px;
  padding: 5px;
}

.notesForNbUl {
  text-decoration: none;
  list-style: none;
}

.allNotesFromNB > ul {
  text-decoration: none;
  list-style: none;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.allNotesFromNB > ul > li {
  cursor: pointer;
}

.newNotebookFormDivWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.newNotebookFormDiv {
  justify-content: center;
  width: 500px;
  height: 80px;
  padding: 20px 25px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newNotebookForm {
  width: 100%;
}

.newNotebookParagraph {
  margin: 15px 0;
}

.newNotebookInput {
  width: 480px;
  height: 36px;
  padding: 1px;
  padding-left: 8px;
  color: #333;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  line-height: 1.1875;
  font-size: 16px;
  margin-bottom: 14px;
  font-family: "Roboto", "Oxygen", sans-serif;
}

.newNotebookInput:focus {
  outline: none;
  border-color: #dff2e6;
  box-shadow: 0 0 0 1px #dff2e6, 0 0 4px 0 #dff2e6;
}

.modalButton {
  background-color: white;
  color: black;
  border: 1px outset #e6e6e6;
  transition-duration: 0.4s;
  font-weight: 300;
  font-size: 11.5px;
  border-radius: 5px;
  cursor: pointer;
  height: 36px;
  padding: 10px 15px;
  margin-right: 10px;
  min-width: 70px;
}

.modalButton:hover {
  border-radius: 5px;
  background-color: lightsteelblue;
  color: white;
}

.textOpensModal {
  color: #00b114;
  cursor: pointer;
  margin-right: 85px;
  margin-left: 5px;
  font-family: "Roboto", "Oxygen", sans-serif;
  font-weight: normal;
  font-size: 17px;
}

.textOpensModalIcon {
  margin-right: 5px;
}

.nbTitle {
  font-size: 20px;
  margin-top: 30px;
  font-family: "Roboto", "Oxygen", sans-serif;
  font-weight: normal;
}

.secondLayerDiv > h3 {
  margin-top: 40px;
  font-family: "Roboto", "Oxygen", sans-serif;
  font-weight: normal;
  font-size: 17px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #f8f8f8;
}

tr {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding-left: 28px;
}

.tDnotes {
  display: flex;
  justify-content: flex-start;
  height: 40px;
  align-items: center;
  cursor: pointer;
  border-bottom: 16px solid white;
  padding-left: 52px;
}

tr:hover {
  background-color: #f2f2f2;
}

th {
  color: #b3b3b3;
  font-family: "Roboto", "Oxygen", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  align-items: center;
}

.tableDiv {
  width: 1133px;
  margin-top: 16px;
}

.theadRow {
  border-top: 2px solid #586b71;
  border-bottom: 1px solid #ededed;
}

.defaultNbTag {
  font-weight: 300;
  font-size: 12px;
}

.notebookIdAndTitle {
  font-size: 14px;
}

.noteImg {
  margin-right: 5px;
}

.notebookImgBlack {
  margin-right: 5px;
}

.nbIdTitleContainer {
  display: flex;
}
