.whiteSpaceDiv {
  height: 120px;

  /* background-color: white; */
}

main {
  height: 617px;
  background-color: #4ea92f;
  background-image: url(https://evernote.com/img/backgrounds/patterns/main-green.png);
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

.landingPageContainer {
  /* justify-content: space-between; */
  width: 1355px;
  padding: 0 40px;

  /* background-color: skyblue; */
  display: grid;
  grid-template-columns: 50% 50%;
}

.landingPageDiv {
  width: 1220px;
  height: 377px;
  padding: 20px 0 120px 0;
  margin: 0 67.5px;

  /* background-color: lightcoral; */
  display: flex;
  align-self: end;
  justify-content: space-between;
}

.content {
  /* display: grid;
  grid-auto-rows: 100%; */
}

.image {
  grid-column-start: 2 / span 1;
  justify-self: stretch;
  align-self: center;
}

.desktopOnlyImage {
  width: 607.938px;
  height: 362.016px;
}

.content > h1 {
  /* font-family: Soleil_Medium, Helvetica, Arial, sans-serif; */
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
  letter-spacing: -1px;
  line-height: 72px;
  margin-bottom: 20px;
  font-weight: 500;
  color: white;
  width: 568.062px;
  height: 144px;
  margin-bottom: 20px;
}

.content > div {
  /* font-family: Soleil_Light, Helvetica, Arial, sans-serif; */
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 21px;
  line-height: 40px;
  margin-bottom: 35px;
  width: 568.062px;
  height: 120px;
  color: white;

  /* margin-bottom: 75px; */
}

.buttonPrimaryWhite {
  font-family: Soleil_Bold, Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-width: 240px;
  text-transform: uppercase;
  color: #00a82d;
  background-color: white;
  display: inline-block;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  border: 0;
  border-radius: 3px;
  padding: 18px 32px 17px;
  letter-spacing: 1.5px;
}

.buttonPrimaryWhite:hover {
  background-color: #f7f7f7;
  color: #00a82d;
  cursor: pointer;
}

.landingPageSection {
  height: 876px;
  background-color: #f7f7f7;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

.sectionHeaderDiv {
  width: 1220px;
  height: 288px;

  /* background-color: lightcoral; */
  margin-bottom: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 122px;
}

.sectionHeaderDiv > img {
  width: 105px;
  height: 119px;
}

.sectionHeaderDiv > h2 {
  width: 1220px;
  height: 64px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 45px;
  line-height: 64px;
}

.sectionContentMainDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  color: #888b8d;
  font-size: 28px;
  line-height: 2;
  width: 1300px;
  height: 308px;
}

.sectionContentInnerDiv {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  width: 353.328px;
  height: 192px;
  letter-spacing: 0;
  margin-top: 16px;
  text-align: center;
}

.footerDiv {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  padding-top: 80px;
}

.footerLogoDiv {
  width: 1220px;
  height: 40px;
  border-bottom: 3px solid #000;
  margin-bottom: 0 87.5px 48px 87.5px;
  padding-bottom: 48px;
}

.logoNameSpanInLandingPage {
  font-size: 2.5em;
  color: #4ea92f;
}

.logoTitleSpan {
  color: black;
  font-size: 32px;
  margin-left: 8px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.socialLinksUl {
  border-bottom: 1px solid rgba(136, 139, 141, 0.5);
  margin: 75px 0 40px 0;
  padding-bottom: 5px;
  width: 1220px;
  height: 40px;
  display: flex;
  list-style-type: none;
  overflow: hidden;
  justify-content: flex-end;
}

.socialLinksUl > li {
  margin-right: 28px;
}

.github {
  max-width: 16px;
  margin: 8px;
}
